.git/.MERGE_MSG*
.git/MERGE_MSG
.DS_Store
*/.DS_Store
uLua/LuaWrap
uLua/LuaBinder*
uLua/bin
uLua/obj
UnityGameFrame/Res
UnityGameFrame/www
UnityGameFrame/obj*
UnityGameFrame/Library
UnityGameFrame/www
UnityGameFrame/res
UnityGameFrame/Library*
UnityGameFrame/Temp*
UnityGameFrame/PlatformProj
UnityGameFrame/Assets/StreamingAssets/Platform*
UnityGameFrame/Assets/StreamingAssets/crash_report*
UnityGameFrame/Assets/StreamingAssets/test_record*
UnityGameFrame/Assets/StreamingAssets/test_WarEnterData*
UnityGameFrame/Assets/StreamingAssets/test_*
UnityGameFrame/Assets/_ZF
UnityGameFrame/Assets/_Test
UnityGameFrame/Assets/_temp
UnityGameFrame/Assets/_*.meta
UnityGameFrame/UnityGameFrame.CSharp.Editor.csproj
UnityGameFrame/UnityGameFrame.CSharp.csproj
UnityGameFrame/UnityGameFrame.sln
UnityGameFrame/UnityGameFrame.userprefs
UnityGameFrame/*.csproj
UnityGameFrame/*.sln
UnityGameFrame/*.userprefs
UnityGameFrame/Assets/Game/Resources/files.csv*
UnityGameFrame/Assets/Game/Config/~*
UnityGameFrame/Assets/aaa*
UnityGameFrame/Assets/StreamingAssets/game_const.json*
UnityGameFrame/Assets/StreamingAssets/user_*
UnityGameFrame/Assets/StreamingAssets/users
UnityGameFrame/Assets/StreamingAssets/users*
UnityGameFrame/Assets/StreamingAssets/kcj_conf
UnityGameFrame/Assets/StreamingAssets/kcj_conf*
UnityGameFrame/Assets/Game/Lua/*.meta
UnityGameFrame/Assets/Game/Lua/*/*.meta
UnityGameFrame/Assets/Game/Lua/*/*/*.meta
UnityGameFrame/Assets/Game/Lua/*/*/*/*.meta
UnityGameFrame/Assets/Game/Lua/*/*/*/*/*.meta
UnityGameFrame/Assets/Game/Lua/*/*/*/*/*/*.meta
UnityGameFrame/Assets/Game/Lua/*/*/*/*/*/*/*.meta
UnityGameFrame/Assets/Game/Config/*.meta
UnityGameFrame/Assets/Game/Config/*/*.meta
UnityGameFrame/Assets/Game/Config/*/*/*.meta
UnityGameFrame/ProjectSettings/ProjectVersion.txt
UnityGameFrame/Assets/Editor/
UnityGameFrame/ProjectSettings/GraphicsSettings.asset
UnityGameFrame/ProjectSettings/EditorBuildSettings.asset
UnityGameFrame/Assets/Game/LuaBytes*
UnityGameFrame/Assets/Game/ConfigBytes*
UnityGameFrame/Assets/Game/Arts_Modules/Wars/Animations.meta
UnityGameFrame/Assets/Game/Scripts/CC/Shaders.meta
UnityGameFrame/Assets/Game/Scripts/CC/Editor/XUPorter/Mods/iOS/Store.meta
UnityGameFrame/Assets/Game/Scripts/CC/Shaders/UI.meta
UnityGameFrame/Assets/Game/ConfigBytes
UnityGameFrame/Assets/Game/ConfigBytes.*
UnityGameFrame/Assets/Game/ConfigBytes/*
UnityGameFrame/Assets/Game/LuaBytes
UnityGameFrame/Assets/Game/LuaBytes.*
UnityGameFrame/Assets/Game/LuaBytes/*
UnityGameFrame/Assets/Game/Resources/effect3d_new.meta
UnityGameFrame/Assets/EditorDefaultResources*
UnityGameFrame/CenterProj/Common/bin/*
!UnityGameFrame/CenterProj/Common/bin/common.jar
UnityGameFrame/CenterProj/Mi/bin/*
UnityGameFrame/CenterProj/Mi/gen/*
!UnityGameFrame/CenterProj/Mi/bin/mi.jar
UnityGameFrame/CenterProj/4399/bin/*
UnityGameFrame/CenterProj/4399/gen/*
!UnityGameFrame/CenterProj/4399/bin/4399.jar
UnityGameFrame/res/crash_report.log
UnityGameFrame/res/
UnityGameFrame/QRCode/bin/
UnityGameFrame/QRCode/obj/
UnityGameFrame/Assets/Plugins/Editor/UniWebView.bundle.meta
UnityGameFrame/Assets/Plugins/Android*
UnityGameFrame/Assets/Plugins/Editor/UniWebView.bundle/Contents.meta
UnityGameFrame/Assets/Local.meta
UnityGameFrame/Assets/Local/
UnityGameFrame/log.html
UnityGameFrame/Assets/Plugins/General/DOTween/DOTween.sln
UnityGameFrame/Assets/Plugins/General/DOTween/DOTween.sln.meta
UnityGameFrame/Assets/Plugins/General/DOTween/DOTween.userprefs
UnityGameFrame/Assets/Plugins/General/DOTween/DOTween.userprefs.meta
UnityGameFrame/version/OSX/NoCenter/app-ver01.00.00_beta-20161012221044.csv
UnityGameFrame/Assets/ulualib/uLua.dll
UnityGameFrame/Assets/ulualib/uLua.dll.meta
uLua/uLua_Modify.csproj
